*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    color: white;
}
#berser{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
#gojo{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
#geto{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
#goku{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
#ichigo{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
#toji{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
#saitama{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
#endeavor{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
body{
    background-color: rgb(0, 0, 0);
    display: flex;
}
li{
    padding: 10px;
    margin-left: 15px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1{
padding: 30px;
}
nav{
    padding: 30px;
    display: flex;
    gap: 15px;
}